

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>OAuth using Google | Register</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-and-name-wrapper">
                <a href="#">
                    <div class="div-as-logo"></div>
                    <p>OAuth Using Google</p>
                </a>
            </div>
            <div class="menu-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Page-2</a></li>
                    <li><a href="#">Page-3</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-1">
            <h1>Welcome Guest</h1>
            <h2>OAuth security using Google</h2>
            <p>This is a simple example of how to use OAuth with Google. <br>Visit the <b>dashboard</b> for more personalized experience.</p>
        </section>
        <section class="section-2">
            <div class="redirect-link-wrapper">
                <a href="/user/dashboard">
                    <span class="fa fa-bar-chart"></span>
                    <p>Go to Dashboard !</p>
                </a>
            </div>
        </section>
    </main>
    <footer>
        <script src="../script.js"></script>
    </footer>
</body>
</html>
